.form-createpriority {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 80px auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.form-createpriority h3 {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
}
.form-createpriority button {
  text-align: center;
  border: none;
  display: block;
  background-color: #151533;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px auto 20px auto;
  padding: 10px 20px;
  width: 100px;
  font-weight: 100;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
}
.input-title-createpriority {
  background-color: #151533;
  margin: 5px 25px;
  font-weight: 200;
  border-radius: 6px;
  padding: 5px 10px;
  height: 6vh;
  font-size: 16px;
  color: white;
  border: 1px solid white;
}
.input-title::placeholder {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 5px;
}

@media only screen and (max-width: 800px) {
  .form-createpriority {
    width: 85%;
  }
}
.label-date-time-picker-createpriority {
  margin: 5px 25px;
  font-weight: 200;
  border-radius: 6px;
  color: white;
  display: block;
  font-size: 18px;
}
