.navbar-container {
  border: 1px solid white;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  z-index: 1000;
}
.navbar-container a {
  text-decoration: none;
  color: white;
  padding: 10px 16px;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.mobile-navbar-container {
  border: 1px solid white;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  /* width: 90vw; */
  background-color: black;
  display: flex;
  flex-direction: row;
  z-index: 1000;
}
.mobile-navbar-container a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  /* justify-content: center; */
  align-items: center;
  margin: 0;
}
@media only screen and (max-width: 800px) {
  .navbar-container {
    display: none;
  }
  .mobile-navbar-container-link {
    display: none;
  }
}
@media only screen and (min-width: 801px) {
  .mobile-navbar-container {
    display: none;
  }
  .menu-icon {
    display: none;
  }
}
.mobile-side-navbar {
  position: fixed;
  left: 0;
  top: 10;
  z-index: 1000;
  height: 100%;
  background-color: #151533;
  color: white;
  padding: 0 10px;
  transition: 0.5s;
  overflow-x: hidden;
  width: 60%;
}
.mobile-side-navbar a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 5px;
  transition: 0.5s;
  border-bottom: 1px solid white;
  margin: 2px 0;
}
