.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
}
.table-heading {
  margin: 70px auto 5px auto;
}
table {
  width: 85%;
  margin: 15px auto;
  border: 1px solid white;
}

th {
  text-align: center;
}

td {
  text-align: center;
  border: 1px solid white;
}
.delete-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.delete-tr {
  background-color: green;
  border-radius: 4px;
}
.table-head th {
  background-color: #151533;
  color: white;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid white;
}
