.mobile-container-div {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 90vw;
  margin: 40px auto;
}

.mobile-container-div h2 {
  text-align: center;
}
.mobile-container-div p {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 10px;
  margin: 5px 5px;
  font-weight: bold;
  font-size: 14px;
}
.mobile-container-div p > span {
  border-radius: 4px;
  padding: 10px;
  margin: 5px 5px;
  font-weight: normal;
  font-size: 14px;
}
.mobile-bottom-div {
  margin: 20px;
}
.mobile-open-link-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.mobile-open-link-container p {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 10px;
  margin: 5px auto;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  width: 45%;
}
.task-management-button {
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: green;
  padding: 5px 15px;
  margin: 2px auto;
  border-radius: 4px;
  display: block;
  text-wrap: nowrap;
}
.tasks-for-today {
  width: 88vw;
  margin: 65px auto 10px auto;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 5px;
}
@media only screen and (max-width: 800px) {
}
@media only screen and (min-width: 801px) {
  .mobile-container-div {
    width: 40vw;
  }
  .tasks-for-today {
    width: 40%;
    margin: 65px auto 10px auto;
  }
}
