.taskreminder-container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 40vw;
  margin: 80px auto;
}
.taskreminder-container h2 {
  text-align: center;
}
.taskreminder-container p {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 10px;
  margin: 5px 5px;
  font-weight: bold;
}
.taskreminder-container p > span {
  border-radius: 4px;
  padding: 10px;
  margin: 5px 5px;
  font-weight: normal;
}

@media only screen and (max-width: 800px) {
  .taskreminder-container {
    width: 90vw;
    margin: 20px auto 100px auto;
  }

  .taskreminder-container p {
    margin: 5px 5px;
    font-weight: bold;
    font-size: 14px;
  }
  .taskreminder-container p > span {
    font-size: 14px;
  }
  .seetask-button {
    display: none;
  }
  .bottom-div {
    display: none;
  }
}
